@charset "UTF-8";

* {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	transition: .2s linear;
}

html {
	font-size: 100%;
}

body {
	display: flex;
	--sidebar-size: 260px;
	--header-size: 80px;
}

/* header */
.header {
	height: var(--header-size);
	background-color: #28204e;
	text-transform: uppercase;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	font-size: 2rem;
	z-index: 1;
	transition: .2s linear;
}

.header .logo {
	text-decoration: none;
	color: #fff;
	font-weight: bolder;
}

.header .logo i {
	text-decoration: none;
	color: #13bcf1;
}

.header nav ul {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 0;
}

.header nav ul li {
	margin: 0 1rem;
}

.header nav ul li a {
	font-size: 1.7rem;
	color: #fff;
	padding: .5rem 2rem;
	text-decoration: none;
}

.header nav ul li a:hover {
	color: #13bcf1;
}

.header .icons div {
	font-size: 2.5rem;
	margin-left: 2rem;
	color: #fff;
	cursor: pointer;
	-webkit-text-stroke: .1rem #fff;
}

.header .icons div:hover {
	-webkit-text-stroke: .1rem #13bcf1;
	color: #13bcf1;
}

.header nav ul li a.header-active{
	color: #13bcf1;
}

/* header end */

/* sidebar */
.sidebar {
	width: var(--sidebar-size);
	position: fixed;
	top: var(--header-size);
	background-color: #333;
	color: #fff;
	padding: 2rem 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: calc(100% - var(--header-size));
	z-index: 1;
}
.sidebar-menu {
	width: var(--sidebar-size);
	background-color: #333;
	color: #fff;
	padding: 0rem 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1;
}

.sidebar-menu a {
	color: #fff;
	padding: 10px;
	text-decoration: none;
	width: 100%;
	text-align: center;
	margin-bottom: 15px;
	border-radius: 5px;
	font-size: 1.5rem;
}

.sidebar-menu a:hover {
	background-color: #444;
	color: #13bcf1;
}

.sidebar-menu a.active {
	background-color: #555;
	color: #13bcf1;
}

	/* logout button */
	
   /* Position the button at the bottom left */
	.logout {
	    width: var(--sidebar-size);
		padding: 0rem 2rem;
	    align-items: center;
	    margin-top: auto;
	    margin-bottom: 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		z-index: 1; 
	    
	}

/* sidebar end */

/* dashboard */
.main-content {
	font-size: 1rem;
	display: flex;
	flex: 1;
	background-color: #f0f0f0;
	justify-content: flex-start;
	align-items: stretch;
	padding: 1rem;
	overflow: auto;
	height: calc(100% - var(--header-size));
	position: fixed;
	top: var(--header-size);
	left: var(--sidebar-size);
	width: calc(100% - var(--sidebar-size));
	flex-direction: column;
}

.image{
	width:100%;
	display: flex;
	justify-content: center;
}

#pet-image{
	width: 50%;
	padding: 20px;
}

.no-sidebar {
	left: 0;
	width: 100%;
}

.content-table {
	font-size: 1.5rem;
	margin: 10px;
	
}

.content-box {
	background-color: #28204e;
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
	padding: 20px;
	display: flex;
	color: #fff;
	margin-top: 30px;
	min-width: fit-content;
	max-width: 100%;
}

.content-box .content-form {
	width: 100%;
	padding: 20px;
	background-color: #e0e0e0;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	color: #fff;
}

.input-group-text{
	font-size: 1.5rem;
	padding: 8px;
	font-weight: bold;
	background-color: #e0e0e0; /* Greyed out background */
	
}

.apt-input-group-text, .submits-input-group-text{
	background-color: transparent;
	border: transparent;
	color: white;
}

.apt-button-container, .apply-button-container{
	padding-top: 2rem;
	width: fit-content;
}

.input-group > .form-control, .input-group > .form-select{
	padding: 8px;
	font-size: 1.5rem;	
	width: 100%;
	
}

.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
	border-radius: 10px;
}

.info-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;
}

.info-row label {
	flex: 1;
	margin-right: 10px;
	color: #fff;
	font-weight: bold;
	font-size: 1.5rem;
}

.info-row input {
	flex: 2;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #e0e0e0; /* Greyed out background */
	pointer-events: none; /* Makes the input unclickable */
	font-size: 1.5rem;
	color: #28204e;
	width: fit-content;
}

.info-row button {
	padding: 8px 12px;
/* 	background-color: #13bcf1; */
	background-color: #28204e;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
	font-size: 1.5rem;
}

.info-row buttongrey {
	background-color: #555; /* Dark grey background */
	color: white; /* White text color */
	border: none; /* No border */
	padding: 8px 12px; /* Padding for size */
	border-radius: 5px; /* Rounded corners */
	cursor: not-allowed; /* Change cursor to indicate non-clickable */
	opacity: 0.6; /* Slightly transparent to indicate it's disabled */
	font-weight: bold;
	font-size: 1.5rem;
}

.info-row buttongrey:disabled {
	background-color: #555; /* Keep the same dark grey when disabled */
	color: white; /* White text color */
}

.info-row button:hover {
/* 	background-color: #3a0ca3; */
	background-color: #13bcf1;
	color: #fff;
}

/* dashboard end*/

/* pets */
.card-holder {
	margin: 5px 0px;
	padding: 0;
}

.card {
	margin: 5px;
	padding: 10px;
	align-items: center;
	text-align: center;
}

.card-img-top {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	align-self: center;
}

/* pets end */

/* home */
.container {
	display: flex;
	align-items: center;
/* 	min-height: 100vh;
 */	background: url('images/login.png') repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
/* 	justify-content: space-around;
 */	flex-direction: column;
	max-width: unset;
	position: fixed;
	top: var(--header-size);
	height: calc(100% - var(--header-size));
}

.guest-container {
	font-size: 1rem;
	display: flex;
	flex: 1;
	justify-content: flex-start;
	align-items: stretch;
	padding: 1rem;
	overflow: auto;
	width: 100%;
	flex-direction: column;
}

.home{
	width: 500px;
	color: #fff;
	padding: 30px 40px;
	margin: auto 0;
	font-style: italic;
	animation: content .5s linear;
 	background-color: rgba(40, 32, 78, 0.4);  /* Semi-transparent header color */
	border: 2px solid rgba(255, 255, 255, .2);
	border-radius: 10px;          /* Rounded corners */
	backdrop-filter: blur(20px);  /* Apply a blur to the background behind the card */
	box-shadow: 0 4px 6px rgba(40, 32, 78, 0.1); /* Slight shadow for depth */
	overflow: hidden;             /* Hide any overflow */
}

.home h1 {
	font-size: 5.5rem;
}
.home-form{
	font-style: unset;
	width: 550px;	
}

.home-form h1 {
	font-size: 2.5rem;
/* 	font-weight: bold;
 */	text-align: center;
	margin: 0 0 1.5rem 0;
}
/* home end */

/* login */
.wrapper {
	width:420px;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, .2);
	backdrop-filter: blur(20px);
	box-shadow: 0 0 10px rgba(0,0,0,.2);
	color: #fff;
	border-radius: 10px;
	padding: 30px 40px;
	margin: auto 0px;
}

.wrapper h1{
	font-size: 36px;
	text-align: center;
}

.wrapper .input-box{
	position: relative;
	width:100%;
	height: 50px;
	margin: 30px 0;
}

.input-box input{
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	border: 2px solid rgba(255, 255, 255, .2);
	border-radius: 40px;
	font-size: 16px;
	color: #fff;
	padding: 20px 45px 20px 20px;

}

.input-box input::placeholder {
	color: #fff;
}

.input-box i{
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
}

.wrapper .remember-forgot {
	display: flex;
	justify-content: space-between;
	font-size: 14.5px;
	margin: -15px 0 15px;
}

.remember-forgot label input{
	accent-color: #fff;
	margin-right: 3px;
}

input[type="text"]:read-only, form.updatePet > .info-row > input[type="file"]:read-only{
	background: transparent; /* helps user know it cannot be edited */
	pointer-events: none; /* prevent the user from clicking to edit */
}

.home-form input:read-only {
/*  	border: none; 	
 */ 	color: white;
}

.remember-forgot a {
	color: #fff;
	text-decoration: none;
}

.remember-forgot a:hover {
	text-decoration: underline;
}
/* login style */

.wrapper .btn, .home .btn {
	width: 100%;
	height: 45px;
	background: #fff;
	border: none;
	outline: none;
	border-radius: 40px;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	cursor: pointer;
	font-size: 16px;
	color: #333;
	font-weight: 600;
}

.wrapper .register-link {
	font-size: 14.5px;
	text-align: center;
	margin: 20px 0 15px;
}

.register-link p a{
	color: #fff;
	text-decoration: none;
	font-weight: 600;
}

.register-linke p a:hover {
	text-decoration:underline;
}

/* login end */

/* landing page */

	.home .button{
		display: flex;
    	justify-content: center;
	}
  
  .home .button button{
  	margin: 5px;
    width: 12rem;
    height: 4rem;
    color: #13bcf1;
    font-weight: bold;
    border-radius: 5rem;
    cursor: pointer;
    outline: none;
    border: none;
  }
  
  .home .button .btn1{
	color: #fff;
    background: none;
    border: .2rem solid #fff;
  }
  
  .home .button .btn1:hover, .wrapper .btn:hover{
    background: #13bcf1;
    border: none;
  }
  
  .home .button .btn2{
	color: #fff;
    background: none;
    border: .2rem solid #fff;
  }
  
  .home .button .btn2:hover{
    background: #13bcf1;
    border: none;
  }
  
  /* landing page end */
  
	/* registration password */
	
	.password-validation {
		display: none;
		position: absolute;
		top: 130px; /* Adjust to move the bubble closer to the password field */
		left: 100%;
		margin-left: 20px;
		padding: 15px;
		background: rgba(255, 255, 255, 0.9); /* Less transparent background */
		
		color: #333;
		border: 2px solid rgba(255, 255, 255, 0.7); /* Lighter border to match the form */
		border-radius: 10px;
		width: 250px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
		font-size: 14px;
		z-index: 10;
		backdrop-filter: blur(20px); /* Blurs the background behind the bubble */
	}

       .password-validation::before {
           content: "";
           position: absolute;
           top: 50%;
           left: -10px;
           margin-top: -5px;
           border-width: 5px;
           border-style: solid;
           border-color: transparent rgba(255, 255, 255, 0.9) transparent transparent; /* Arrow with the same background color */
       }

       .invalid {
           color: #e74c3c; /* Red for invalid items */
       }

       .valid {
           color: #2ecc71; /* Green for valid items */
       }
	
	/* registration password end */
	
	/* guest organizations */
	
	.org-container {
	  display: flex;
	  flex-wrap: wrap; /* Allow items to wrap onto the next row */
	  justify-content: center; /* Center the buttons horizontally */
	  gap: 35px; /* Space between the buttons */
	  max-width: 1200px; /* Limit the container width */
	  width: 100%;
	  margin: 2rem 0;
	  overflow: auto;
	}
	
	.org-button {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  width: 200px; /* Fixed width for all buttons */
	  height: 200px; /* Fixed height for all buttons */
	  background-color: rgba(105, 105, 105, 0.8); /* Darker grey with some transparency */
	  border-radius: 15px; /* Rounded corners */
	  text-align: center;
	  line-height: 1.2;
	  font-size: 18px;
	  color: white;
	  font-weight: bold;
	  cursor: pointer;
	  text-decoration: none; /* Remove underline from links */
	  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
	}
	
	.org-button:hover {
	  background-color: rgba(105, 105, 105, 1); /* Darker grey on hover */
	}
	
	/* Ensures that the buttons are properly aligned in rows */
	.org-container .org-button:nth-child(4n+1) {
	  margin-left: 0; /* Align the first button in each row to the left */
	}
	
	/* guest organizations end */
	 

	